#cabecera_perfil{
    background-color: green; 
    color:white;
}
#cabecera_perfil2{
    background-color: rgb(211, 192, 25); 
    color:white;
}
#cabecera_producto{
    background-color: green; 
    color:white;
}
#cabecera_Poferta{
    background-color: green; 
    color:white;
}